# .gitignore

# Byte-compiled / optimized / C extensions
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
venv/
env/

# Django static files
# THIS IS THE MOST IMPORTANT LINE FOR YOUR PROBLEM
staticfiles/
media/

# Database
db.sqlite3
old_data.db

# Other
.DS_Store
*.log