<!-- templates/acerca.html -->
{% extends "base.html" %}
{% load static %}

{% block title %}Acerca de este Sitio - Coralia Ensamble Musical{% endblock %}

{% block main_content %}
<div class="container">
{% block content %}

<img src="{% static 'img/Gnu_linux.jpg' %}" style="float: left; margin-right: 1em;">
<p>Este sitio fue realizado con <a href="https://www.geany.org/">Geany</a> y VSCode y corre gracias a <a
        href="https://www.debian.org/">Debian</a>, <a href="https://nginx.org/">Nginx</a>, <a
        href="https://www.python.org/">Python</a>, <a href="https://www.djangoproject.com/">Django</a>, <a href="https://sqlite.org/">Sqlite</a>.</p>
<p>Para escribir al desarrollador respecto cualquier asunto relacionado a este sitio o solicitar servicios de desarrollo
    web, <a href="{% url 'main:contacto' %}">contáctenos</a>.</p>
{% endblock %} 
</div>
{% endblock %}