{% extends "main/base.html" %}

{% block title %}Videos - Coralia Ensamble Musical{% endblock %}

{% block main_content %}
<div class="container">
    {% block content %}

    <p>Coralia es un ensamble musical que es dinámico y puede ajustarse al 
    tamaño y tipo de evento que ustéd deseé. Ponemos a su disposición las 
    siguientes muestras musicales de las distintas opciones. </p>

    <h2 id="3">3 músicos</h2>
    <p></p>
    <div class="video-grid">
        <div>Pie Jesu, Faure
            <!-- Optional: for styling -->
            <lite-youtube videoid="9um9cv_zrLg"></lite-youtube>
        </div>
        <div>Cerca de Tí Señor 
            <lite-youtube videoid="WuVReMJsTAo"></lite-youtube>
        </div>
    </div>
    


    <h2 id="4">4 músicos</h2>

    <div class="video-grid">
        <div>Entrega de ramo - Ave María, Schubert
            <!-- Optional: for styling -->
            <lite-youtube videoid="NYC7IMWMbW0"></lite-youtube>
        </div>
        <div>Aleluya, Cohen
            <lite-youtube videoid="5XWBuNk_WXI"></lite-youtube>
        </div>
    </div>

 
    <h2 id="5">5 músicos</h2>
    <div class="video-grid">
        <div>Señor ten piedad, Mejía
            <!-- Optional: for styling -->
            <lite-youtube videoid="YxbhXKMy2zs"></lite-youtube>
        </div>
        <div>Sanctus, V. Carnevalli.
            <lite-youtube videoid="EY_LtEwREZU"></lite-youtube>
        </div>
    </div>
   
    


    <h2 id="6">6 músicos</h2>
    <div class="video-grid">
        <div>Gloria, W. A. Mozart
            <!-- Optional: for styling -->
            <lite-youtube videoid="6JGISFWCnIc"></lite-youtube>
        </div>
        <div>Marcha Nupcial, Mehndelssohn
            <lite-youtube videoid="kHN8iOqQdqY"></lite-youtube>
        </div>
    </div>


     
    <h2 id="7">7 músicos en adelante</h2>
    <p></p>
    <div class="video-grid">
        <div>Ave Verum Corpus
            <!-- Optional: for styling -->
            <lite-youtube videoid="tsGGASv6piY"></lite-youtube>
        </div>
        <div>Alma Bendice al Señor
            <lite-youtube videoid="6C1l2IZDDXQ"></lite-youtube>
        </div>
        <div>Sanctus, Mozart
            <!-- Optional: for styling -->
            <lite-youtube videoid="DCwH15aM2qA"></lite-youtube>
        </div>
        <div>Jesus Alegría de los Hombres
            <lite-youtube videoid="75LHFA2ENUI"></lite-youtube>
        </div>
    </div>
    

    <h2 id="2">2 músicos</h2>
    Ofrecemos también la dotación de 2 músicos para pequeños eventos ó de poca asistencia.
    <div class="video-grid">
         <div>Ave María, Bach-Gounod
            <!-- Optional: for styling -->
            <lite-youtube videoid="qLoHTnivDRI"></lite-youtube>
        </div>
        <div>To te extrañaré
            <lite-youtube videoid="hkbFcS4UrZA"></lite-youtube>
        </div>
    </div>


  </div>



    {% endblock %}
</div>
{%endblock %}